<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vital Mind</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" href="./styles/styles.css" />
    <!-- production version, optimized for size and speed -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow-sm">
        <a class="navbar-brand" href="./">
            <img class="img-fluid" src="./assets/logo.svg" alt="Vital Mind">
        </a>
    </nav>


    <main class="main">
        <div id="app">
            <div class="section">
                <div class="container mt-2">
                    <div v-if="!success">
                        <h2>Ayudanos a encontrar el mejor psicológo especial para ti</h2>
                        <p>Porfavor responde este breve cuestionario privado y anonimo para conocer como te podemos
                            ayudar a
                            mejorar
                            tu vida</p>
                    </div>
                    <div class="row">
                        <div class="col-md">

                            <div v-if="success">
                                <h2>Gracias! 🎉</h2>
                                <p>Pronto nos pondremos en contacto</p>
                            </div>
                            <form v-if="!success">
                                <div v-for="(question, index) in questions" class="form-group">

                                    <transition name="fade">
                                        <div v-show="currentQuestion === index + 1">
                                            <h3 for="">{{index + 1}} {{question.name}}</h3>
                                            <div v-if="question.type === 'radio'" v-for="answer in question.answers"
                                                class="form-check">
                                                <input :v-model="question.model" class="form-check-input" type="radio"
                                                    :name="answer + '_' + question.name"
                                                    :id="answer + '_' + question.name" :value="answer"
                                                    @change="onChange($event, question.model)">
                                                <label class="form-check-label" :for="answer + '_' + question.name">
                                                    {{answer}}
                                                </label>
                                            </div>
                                        </div>
                                    </transition>

                                    <transition name="fade">
                                        <div v-show="currentQuestion === index + 1">
                                            <div v-if="question.type === 'select'" class="form-group">
                                                <label :for="question.name">Selecciona: </label>
                                                <select :v-model="question.model"
                                                    @change="onChange($event, question.model)" class="form-control"
                                                    :id="question.name">
                                                    <option v-for="answer in question.answers">{{answer}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </transition>

                                    <transition name="fade">
                                        <div v-show="currentQuestion === index + 1">
                                            <div v-if="question.type === 'checkbox'" v-for="answer in question.answers"
                                                class="form-check">
                                                <input :v-model="question.model" class="form-check-input"
                                                    type="checkbox" :value="answer" :id="answer"
                                                    @change="onChange($event, question.model, question.type)">
                                                <label class="form-check-label" :for="answer">
                                                    {{answer}}
                                                </label>
                                            </div>
                                        </div>
                                    </transition>

                                </div>

                                <transition name="fade">
                                    <div v-show="currentQuestion > questions.length">
                                        <p>Por último necesitamos los datos con
                                            los cuales te estaremos contactando.</p>

                                        <div class="form-group">
                                            <label for="name">Nombre</label>
                                            <input v-model="name" type="text" class="form-control" id="name">
                                        </div>

                                        <div class="form-group">
                                            <label for="email">Correo electrónico</label>
                                            <input v-model="email" type="email" class="form-control" id="email">
                                        </div>

                                        <div class="form-group">
                                            <label for="phone">Teléfono móvil (opcional)</label>
                                            <input v-model="phone" type="number" class="form-control" id="phone">
                                        </div>
                                    </div>
                                </transition>

                                <div>
                                    <button class="btn btn-secondary" v-if="currentQuestion > 1" type="button"
                                        v-on:click="currentQuestion -= 1">
                                        Anterior
                                    </button>


                                    <button
                                        v-show="currentQuestion <= answers.length || isChecked || currentQuestion === questions.length"
                                        class="btn btn-primary" type="button" v-on:click="currentQuestion += 1">
                                        Siguiente
                                    </button>

                                    <button :disabled="isLoading" v-show="name.length > 2 && email.length > 2"
                                        class="btn btn-success" type="button" v-on:click="handleSubmit">
                                        Enviar
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md">
                            <img class="img-fluid" src="./assets/mujer.png" alt="mujer">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </main>

    <script src="./js/fetch-polyfill.js"></script>
    <script src="./js/preguntas.js"></script>
    <script src="./js/app.js"></script>

</body>

</html>