<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vital Mind</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="./styles/styles.css" />
    <!-- production version, optimized for size and speed -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
    <nav class="navbar">
        <a class="navbar-brand" href="./">
            <img style="width: 110px;" src="./assets/logo.svg" alt="vital mind" />
        </a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">¿Por qué VM?</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Cómo funciona</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Precios y Planes</a>
            </li>
        </ul>
    </nav>

    <main class="container">
        <div class="form">
            <h2>Ayudanos a encontrar el mejor psicológo especial para ti</h2>
            <p>Porfavor responde este breve cuestionario privado y anonimo para conocer como te podemos ayudar a mejorar
                tu vida</p>

            <div id="app">
                <form>
                    <div v-for="(question, index) in questions" class="form-group">
                        <h3 for="">{{index + 1}} {{question.name}}</h3>

                        <div v-if="question.type === 'radio'" v-for="answer in question.answers" class="form-check">
                            <input v-model="question.model" class="form-check-input" type="radio"
                                :name="answer + '_' + question.name" :id="answer + '_' + question.name" :value="answer"
                                @change="onChange($event, question.name)">
                            <label class="form-check-label" :for="answer + '_' + question.name">
                                {{answer}}
                            </label>
                        </div>

                        <div v-if="question.type === 'select'" class="form-group">
                            <label :for="question.name">Selecciona: </label>
                            <select @change="onChange($event, question.name)" class="form-control" :id="question.name">
                                <option v-for="answer in question.answers">{{answer}}</option>
                            </select>
                        </div>

                    </div>
                </form>
            </div>

        </div>
    </main>

    <script src="./js/preguntas.js"></script>
    <script src="./js/app.js"></script>

    <!-- <script src="./js/preguntas.js"></script>
    <script src="./js/cuestionario.js"></script> -->

</body>

</html>