* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 19px;
  color: #212121;
}

h2,
h3 {
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}

button {
  font-family: "Nunito", sans-serif;
  border: none;
}

.navbar {
  position: fixed;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  width: 100%;
  z-index: 10;
  background-color: #fff;
  height: 74px;
  box-shadow: -14px -3px 3px 2px #797979;
}

.navbar-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  margin-right: 50px;
}

.nav-link {
  text-decoration: none;
  display: block;
  padding: 0.5rem 1rem;
  font-weight: bold;
  color: #212121;
}

.container {
  width: 100%;
  position: relative;
  padding-top: 90px;
}

.button-home {
  border-radius: 30px;
  padding: 10px;
  font-size: 1.3rem;
  font-weight: bold;
  background-color: #e83493;
  color: #fff;
  width: 250px;
  cursor: pointer;
}

.navbar-brand img {
  width: 100px;
}

.flex-container {
  height: 500px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.home-text {
  max-width: 550px;
}

.home-image {
  max-width: 370px;
}

.header-text {
  font-size: 3rem;
  line-height: 3rem;
}

.porque-img {
  min-width: 490px;
}

.features-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  height: 200px;
  margin-bottom: 40px;
  background-color: #f7f7f7;
}

.card-feature {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-feature-img {
  max-width: 80px;
}

.card-feature p {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.pl-2 {
  padding-left: 1rem;
}

.primary {
  color: #00c4cc !important;
}

.text-danger {
  color: #e83493 !important;
}

.secondary {
  color: #4b0ccf !important;
}

.text-center {
  text-align: center;
}

.pasos-container {
  display: flex;
  justify-content: center;
}

.pasos-text {
  max-width: 600px;
}

.pasos-img {
  margin-right: 100px;
}

.paso {
  cursor: pointer;
  position: relative;
  transition: ease-in 0.2s;
}

.paso h3 {
  margin-bottom: 5px;
}

.paso div {
  background-color: #00c4cc;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  position: absolute;
  top: -11px;
  left: -19px;
  z-index: -1;
}

/* @media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
} */
