* {
  margin: 0;
  padding: 0;
}

:root {
  --main-blue-color: #00c4cc;
  --main-pink-color: #e83493;
  --main-purple-color: #4b0ccf;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 19px;
  color: #212121;
}

.main {
  padding-top: 92px;
}

.bg-light {
  background-color: #fff !important;
}

.navbar-brand img {
  width: 100px;
}

.navbar-light .navbar-nav .nav-link {
  font-weight: bold;
  color: #212121;
}

.text-pink {
  color: var(--main-pink-color) !important;
}

.text-blue {
  color: var(--main-blue-color) !important;
}

.comenzar-link {
  color: #fff !important;
  background-color: var(--main-pink-color);
  border-radius: 60px;
}

.btn-comenzar {
  border-radius: 30px;
  padding: 10px;
  font-size: 1.3rem;
  font-weight: bold;
  background-color: #e83493;
  color: #fff !important;
  width: 250px;
  cursor: pointer;
}

.section {
  padding: 20px 0;
}

.flex-container {
  height: 500px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.home-text {
  max-width: 550px;
}

.home-image {
  max-width: 370px;
}

.header-text {
  font-size: 2.5rem;
  line-height: 2.6rem;
  font-weight: bold;
}

.porque-img {
  min-width: 490px;
}

.features-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  height: 200px;
  background-color: #f7f7f7;
}

.card-feature {
  width: 200px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-feature-img {
  max-width: 80px;
  margin-bottom: 20px;
}

.card-feature p {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0px;
}

.pasos-container {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.pasos-text {
  max-width: 600px;
}

.pasos-img {
  margin-right: 100px;
}

.paso {
  cursor: pointer;
  position: relative;
  transition: ease-in 0.2s;
}

.paso h3 {
  margin-bottom: 5px;
}

.paso div {
  background-color: #00c4cc;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  position: absolute;
  top: -11px;
  left: -19px;
  z-index: -1;
}

.precios-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #cc88ff;
  height: 540px;
}

.precios {
  max-width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.precio-card {
  height: 480px;
  width: 280px;
  border-radius: 30px;
  background-color: #fff;
  margin: 0 15px;
  padding: 15px;
  position: relative;
  transition: ease 0.3s;
}

.precio-card:hover {
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  transform: translate(0px, -5px);
}

.precio-image {
  height: 250px;
  width: 230px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
}

.precio-list {
  width: 70%;
  margin: auto;
  list-style-type: disc;
  font-size: 16px;
}

.plan-name {
  font-size: 2.4rem;
}

.precio-precio {
  text-align: center;
  bottom: 10px;
  width: 100%;
  position: absolute;
  bottom: 15px;
  left: 0;
  font-size: 3rem;
  font-weight: bold;
}

.precio-precio span {
  font-size: 1rem;
}

footer {
  padding-top: 20px;
  background-color: #4b0ccf;
  color: #fff;
}

.nav-list {
  display: flex;
  flex-direction: column;
}

.nav-list a {
  color: #fff;
  text-decoration: none;
}

.terms {
  padding-bottom: 10px;
  text-align: center;
}

#cuestionario {
  position: relative;
}

.pregunta {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  pointer-events: none;
}

.show {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  position: absolute;
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all 0.3s ease-in;
}
.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
  position: absolute;
}
